


.container2{
    display: flex; /* Aktiverar flexbox */
    gap: 1em; /* Skapar mellanrum mellan bilderna */
    justify-content: center;
}

.storlek{
    font-size: 0.5em;
}

h1 {
    font-size: 4em;
    padding-bottom: 0.5em;
    font-family: creepsville;
    text-shadow: 2px 2px 4px #FF7F32;
}

p {
    max-width: 60ch;
    font-size: 1.5em;;
   
}



body{
    background-image: url(../images/image-from-rawpixel-id-12583175-jpeg.webp);
    font-family: serif;
}
img {
    border-radius: 1em;
    max-width: 25em;
    
}

@font-face {
    font-family: creepsville;
    src: url("../../creepsville.ttf");
}

.logga {
    width: 3em;
    height: auto;
}


main{
    font-size: 12px;
    background: rgba(192, 192, 192, 0.94);
    max-width: 85%;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 2em;
    scale: 90%;
}
 





 